/* BASE */

@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

html{
    font-family: "Geist", sans-serif;
    overflow-x: hidden;
    position: absolute;
}
body{
    background-color: #acaaaa;
}

.divider-1 {
    margin-top: 7rem;
    height: 1px;
    background: linear-gradient(270deg,#4e4e4e, #f1f1f1)
}
  
  .divider-2 {
    margin-top: 7rem;
    height: 1px;
    background: linear-gradient(270deg,#f1f1f1, #4e4e4e)
  }

/* LAYOUT */

.container{
    margin: 9rem 8rem 0;
}

/* HEADER */

header{
    background-color: #4e4e4e;
    top: 0;
    width: 100vw;
    position: fixed;
}

nav{
    background-color: #4e4e4e;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 8rem;
    align-items: center;
    padding: 1rem;
}

nav img{
    height: 3.5rem;
    width: 13rem;
}

ul{
    display: flex;
    flex-direction: row;
    gap: 3rem;
}
li a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    transition: 0.5s;
}

li a:hover{
    color: #ddd;
    transition: 0.5s;
}

/* HOME */

.flex{
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.title-main{
    margin-bottom: 3rem;
    font-size: 3rem;
    font-weight:800;
}

.title{
    margin-bottom: 3rem;
    font-size: 3rem;
    font-weight: 500 ;
}

.image img{
    width: 32rem;
    border-radius: 1.3rem;
    box-shadow: 0.5rem 0.5rem 0.5rem #4e4e4e;
}

/* ABOUT */

.video iframe{
    border-radius: 1.3rem;
    box-shadow: 0.5rem 0.5rem 0.5rem #4e4e4e;
}

p{
    font-size: 1.5rem;
    font-weight: lighter;
    text-align: justify;
    line-height: 2rem;
}

#about .flex{
    flex-direction: column;
}

/* GRAFICOS */

#grafics .flex{
    flex-direction: column;
}

.box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.grafic{
    width: 100%;
    height: 400px;
    background-color: #4e4e4e;
    margin: 3.5rem 0 1rem;
}

#grafics h3{
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

/* RESULTADOS */

#results .flex{
    flex-direction: column;
}

#results p{
    margin-top: 0.1rem;
}

/* REFERENCIAS */

#references .flex{
    flex-direction: column;

}

#references img{
    width: 15rem;
    height: 15rem;
    margin: 0 9.4rem;
    object-fit: contain;
}

/* FOOTER */

footer{
    height: 2.5rem;
}

#footer .flex{
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#footer img{
    height: 3.5rem;
    width: 13rem;
}

#footer p{
    font-size: 1.2rem;
    
}